.main{
  margin-left: 270px;
  margin-bottom: 30px;
  position: relative;
  width: 990px;
  height: 617px;
  background: #1b1b1b;
  padding: 40px 35px 60px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 1px #272727;
}
.main{
  font-size: 15px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}