<!DOCTYPE html>

<html lang="en" dir="ltr"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/resources/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Menu</header>
    <ul>
        <li><a href="/menu/internal"><i class="fas fa-address-book"></i>Internal Account</a></li>
        <li><a href="/menu/external"><i class="far fa-address-book"></i>External Account</a></li>
        <li><a href="/menu/available"><i class="far fa-money-bill-alt"></i>Available Coins</a></li>
        <li><a href="/menu/exchange"><i class="fas fa-exchange-alt"></i>Exchange</a></li>
        <li><a href="/menu/transactions"><i class="fas fa-link"></i>Transactions</a></li>
        <li><a href="/menu/charts"><i class="fas fa-chart-line"></i>Charts</a></li>
        <li><a href="/menu/alerts"><i class="fa fa-bell"></i>Alerts</a></li>
        <li><a href="/menu/info"><i class="far fa-question-circle"></i>Info</a></li>
        <li><a href="/logout" method="post"><i class="fa fa-power-off"></i>Log out</a></li>
    </ul>
</div>
<br>
<div class="main">
    <h1>Welcome to CoinMarketSupervisor</h1>
    <br>
    <p> <div sec:authorize="isAuthenticated()">
        You are authenticated as <span sec:authentication="name"></span></div></p>
    <br>
    <p>Choose options from left sidebar <a href="/menu/info">or click readme</a></p>
</div>
</body>
</html>