<!DOCTYPE html>

<html lang="en" dir="ltr"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Exchange</title>
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/resources/static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/resources/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/glowing_button.css">
    <link rel="stylesheet" type="text/css" href="/resources/static/css/glowing_button.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link rel="stylesheet" type="text/css" href="/resources/static/css/table.css">
    <link rel="stylesheet" type="text/css" href="/css/captions.css">
    <link rel="stylesheet" type="text/css" href="/resources/static/css/captions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="/js/charts.js"></script>
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Menu</header>
    <ul>
        <li><a href="/menu/internal"><i class="fas fa-address-book"></i>Internal Account</a></li>
        <li><a href="/menu/external"><i class="far fa-address-book"></i>External Account</a></li>
        <li><a href="/menu/available"><i class="far fa-money-bill-alt"></i>Available Coins</a></li>
        <li><a href="/menu/exchange"><i class="fas fa-exchange-alt"></i>Exchange</a></li>
        <li><a href="/menu/transactions"><i class="fas fa-link"></i>Transactions</a></li>
        <li><a href="/menu/charts"><i class="fas fa-chart-line"></i>Charts</a></li>
        <li><a href="/menu/alerts"><i class="fa fa-bell"></i>Alerts</a></li>
        <li><a href="/menu/info"><i class="far fa-question-circle"></i>Info</a></li>
        <li><a href="/menu/contact"><i class="far fa-envelope"></i>Contact</a></li>
        <li><a href="/logout" method="post"><i class="fa fa-power-off"></i>Log out</a></li>
    </ul>
</div>
<br>
<div class="main">
    <div class="row">
        <div class="column">
            <table>
                <caption>
                    <form>
                        <label for="user_coin">Choose coin:</label>
                        <select id="user_coin" onChange="dispCoin(this);" name="entries">
                            <option></option>
                            <option th:each="entry : ${entries}"><span th:text="${entry.coin.symbol}"></span></option>
                        </select>
                    </form>
                </caption>
            </table>
        </div>
        <div class="column">
            <table>
                <caption>
                    <form id="submitnext" th:action="@{/menu/charts/display}" method="get">
                        <label for="ex_coin">Choose interval:</label>
                        <select id="ex_coin" onChange="dispInterval(this);" name="intervals">
                            <option></option>
                            <option th:each="interval : ${intervals}"><span th:text="${interval}"></span></option>
                        </select>
                    </form>
                </caption>
            </table>
        </div>

    </div>
    <button onclick="send()">NEXT</button>
</div>
</body>
</html>